/* Used a complementary color harmony for teal (#4aaaa5) */
body {
    margin: 0;
    padding: 0;
    font-family:  Arial, 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    background-image: url('../images/light-grey-terrazzo.png');
    z-index: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Georgia, Times, 'Times New Roman', serif;
    color: #4aaaa5;
}

header, footer {
    width: 100%;
}

header {
    background-color: #ffffff;
    border-bottom: 1px solid #cccccc;
    height: 79px;
    position: fixed;
    z-index: 1;
    top: 0;
}

footer {
    background-color: #666666;
    border-top: 8px solid #4aaaa5;
    text-align: center;
    height: 52px;
}

.content {
    margin: 0 3rem;
    clear: both;
    overflow: auto;
}

main {
    min-height: calc(100vh - 180px);
    margin-top: 100px;
}

main .content {
    background-color: #ffffff;
    border: 1px #dddddd solid;
    margin: 20px auto;
    width: 710px;
    margin-left: 3rem;
}

header h1 {
    padding: 20px;
    color: #ffffff;
    background-color: #4aaaa5;
    float: left;
    margin: 0;
    height: 40px;
    max-width: 60%;
    text-align: center;
}

nav {
    float: right;
    max-width: 30%;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 31px 0;
}

nav li {
    display: inline;
    border-right: 1px solid #cccccc;
    padding: 0 10px;
}

nav li:last-of-type {
    border: none;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: #4a5554;
}

main h2 {
    padding: 20px 20px 10px 20px;
    margin-top: 10px;
}

main hr {
    width: calc(100% - 40px);
    margin: 20px auto;
    height: 2px;
    background-color: #cccccc;
    border: none;
}

main p, main form {
    margin-bottom: 20px;
}

img.profile {
    float: left;
    margin: 0 10px 0 0;
    padding: 0 0 20px 20px;
    max-width: 400px;
    max-height: 200px;
}

main p {
    padding: 0 20px;
}

input:not([type="submit"]), textarea {
    padding: 5px;
    width: calc(100% - 15px);
    height: 20px;
}

textarea {
    height: 150px;
}

p label {
    line-height: 2;
}

input[type="submit"] {
    color: #ffffff;
    background-color: #4aaaa5;
    padding: 12px 24px;
    border: none;
}

.portfolio {
    float: left;
    position: relative;
    text-align: center;
    margin: 20px;
}

.portfolio img {
    max-width: 100%;
}

.portfolio p {
    background-color: #4aaaa5;
    color:#ffffff;
    position: absolute;
    padding: 10px 0;
    bottom: 0;
    width: 100%;
}

.portfolio a:hover p, input[type="submit"]:hover {
    background-color: #1f5d5a;
    cursor: pointer;
}

.portfolio a:hover img {
    opacity: 0.8;
}

@media screen and (max-width: 960px) {
    nav {
        max-width: unset;
    }

    main {
        margin: 1rem;
        margin-top: calc(100px + 1rem);
    }
}

@media screen and (max-width: 768px) {
    .content {
        margin: 10px;
    }

    header .content {
        margin: 0 10px;
    }

    main .content {
        width: calc(100% - 20px);
        margin: 10px;
    }
}

@media screen and (max-width: 640px) {
    header {
        height: 131px;
        position: static;
    }

    header .content {
        margin: 0;
    }

    header h1 {
        float: none;
        max-width: unset;
    }

    nav {
        float: none;
        text-align: center;
    }

    nav ul {
        padding: 18px;
    }

    main {
        margin: 10px;
    }

    main .content {
        margin: unset;
        width: 100%;
    }
}